iot/node-red/flows/autogrow-flow.json
[
  {
    "id": "autogrow_tab_1",
    "type": "tab",
    "label": "AutoGrow Flow",
    "disabled": false,
    "info": "Starter flow for AutoGrow MQTT ingestion"
  },
  {
    "id": "mqtt_in_combined",
    "type": "mqtt in",
    "z": "autogrow_tab_1",
    "name": "Combined Sensor In",
    "topic": "b6710545652/autogrow/sensors",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 120,
    "wires": [["json_parse_1"]]
  },
  {
    "id": "json_parse_1",
    "type": "json",
    "z": "autogrow_tab_1",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 120,
    "wires": [["debug_payload_1"]]
  },
  {
    "id": "debug_payload_1",
    "type": "debug",
    "z": "autogrow_tab_1",
    "name": "Payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 560,
    "y": 120,
    "wires": []
  },
  {
    "id": "mqtt_broker_cfg",
    "type": "mqtt-broker",
    "name": "AutoGrow Broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
